table {
  width: 310px;
  margin: 50px auto;
  background: #fffacd;
  border: none;
  border-radius: 10px;
  padding: 0px 20px 20px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
  border-collapse: separate;
  border-spacing: 20px;
}

#input {
  height: 50px;
  padding: 5px;
  font-size: 210%;
  text-align: right;
  border: none;
  border-radius: 5px 5px 0px 0px;
  /* box-shadow: 2px 2px 2px black; */
  font-family: 'Source Code Pro', monospace;
  color: black;

}

input[type=button]{
  height: 50px;
  width: 50px;
  background: #ffe4e1;
  color: black;
  margin: 3px;   /* distance between buttons */
  border-radius: 8px;
  border: none;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
  font-size: 20px;
}

input[type=button]:hover{
  background: #fff0f5;
  cursor: pointer;

}

#equal {
  background: #B0FFB0;
}

#equal:hover {
  background: #D6FFD6;
  cursor: pointer;
}

#AC {
  background: #FFB0B0;
}

#AC:hover {
  background: #FFD6D6;
  cursor: pointer;
}

.blue {
  background: #D1EEEE;
}

.blue:hover {
  background: #E0EEEE;
  cursor: pointer;
}
