table {
  width: 310px;
  margin: 50px auto;
  background: #fffacd;
  border: none;
  border-radius: 10px;
  padding: 0px 20px 20px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
  border-collapse: separate;
  border-spacing: 20px;
  z-index: 0;
}

#input {
  height: 50px;
  width: 405px; 
  padding: 5px;
  font-size: 210%;
  text-align: right;
  border: none;
  border-radius: 5px 5px 0px 0px;
  /* box-shadow: 2px 2px 2px black; */
  font-family: 'Source Code Pro', monospace;
  color: black;
}

#input_ans {
  height: 20px;
  width: 405px;
  padding: 5px;
  font-size: 100%;
  text-align: right;
  border: none;
  border-radius: 5px 5px 0px 0px;
  /* box-shadow: 2px 2px 2px black; */
  font-family: 'Source Code Pro', monospace;
  color: black;

}

input[type=button]{
  height: 50px;
  width: 50px;
  background: #ffe4e1;
  color: black;
  position: relative;
  margin: 3px;   /* distance between buttons */
  margin-top: 3px;
  border-radius: 8px;
  border: none;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
  font-size: 20px;
}

input[type=image]{
  height: 50px;
  width: 50px;
  color: black;
  /*margin: 3px;   /* distance between buttons */
  border-radius: 8px;
  border: none;
  position: relative;
  margin-left: 4px;
  margin-top: 3px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
  font-size: 20px;
}


input[type=button]:hover{
  background: #fff0f5;
  cursor: pointer;

}

#equal {
  background: #B0FFB0;
}

#equal:hover {
  background: #D6FFD6;
  cursor: pointer;
}

#AC {
  background: #ff9e94;
}

#AC:hover {
  background: #FFB0B0;
  cursor: pointer;
}

#blue1 {
  background: #D1EEEE;
}

#blue1:hover {
  background: #E0EEEE;
  cursor: pointer;
}

#blue2 {
  background: #D1EEEE;
}

#blue2:hover {
  background: #E0EEEE;
  cursor: pointer;
}

#blue3 {
  background: #D1EEEE;
}

#blue3:hover {
  background: #E0EEEE;
  cursor: pointer;
}

#blue4 {
  background: #D1EEEE;
}

#blue4:hover {
  background: #E0EEEE;
  cursor: pointer;
}

#blue5 {
  background: #D1EEEE;
  position: absolute;
  top: 327px;
  /* left: 965px; */
  left: 647px;
  margin-left: 52px;
}

#blue5:hover {
  background: #E0EEEE;
  cursor: pointer;
}

#blue6 {
  background: #D1EEEE;
  position: absolute;
  top: 327px;
  /* left: 1027px; */
  left: 710px;
  margin-left: 52px;
}

#blue6:hover {
  background: #E0EEEE;
  cursor: pointer;
}

#blue7 {
  background: #ffd394;
}

#blue7:hover {
  background: #ffe8c7;
  cursor: pointer;
}

#purp5 {
  background: #e8c7ff;
}

#purp5:hover {
  background: #f2e1ff;
  cursor: pointer;
}

.class {
  position: absolute;
  margin-left: 22px;
}

/* change to relative position */
#im1 {
  background: #e8c7ff;
  position: absolute;
  top: 440px;
  /* left: 836px; */
  left: 515px;
  margin-left: 52px;
}

#im1:hover {
  background: #f2e1ff;
  cursor: pointer;
}

#im2 {
  background: #e8c7ff;
  position: absolute;
  top: 440px;
  /* left: 900px; */
  left: 580px;
  margin-left: 52px;
  z-index: 10;
}

#im2:hover {
  background: #f2e1ff;
  cursor: pointer;
}

#im3 {
  background: #e8c7ff;
  position: absolute;
  top: 440px;
  /* left: 968px; */
  left: 647px;
  margin-left: 52px;
  z-index: 10;
}

#im3:hover {
  background: #f2e1ff;
  cursor: pointer;
}
